{%extends 'base.html'%}
{%block content%}
      <article class="about  active" data-page="resume">
        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ISTA ROUTE IMMOUZZAR</h4>

              <span>2019 — 2021</span>

              <p class="timeline-text">
                Completed my Software Engineering Degree, <span>72.77%</span>
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Abdelkrim Daoudi High School</h4>

              <span>2018 — 2019</span>

              <p class="timeline-text">
                Obtained my High School degree <span></span>
              </p>

            </li>

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title"> Data Entry Operator              </h4>
              <h5><span>@Royal guards,Rabat</span></h5>

              <span>09/2022 — 08/2024</span>

              <p class="timeline-text">
                My job was Data entry and generate complex military file withing different formats. This missions  required me to carefully consider the specific needs  and provide appropriate solutions. 
            <span><a href="#">> Link</a></span>  
            </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Developer</h4>
              <h5><span>@Screenday</span></h5>

              <span>03/2022 — 09/2022</span>

              <p class="timeline-text">
                I have received training in Flutter from renowned mentors in the city. Through this experiece, I have developed my skills in logic building and applied them to practical projects
              </p>

            </li>
          </ol>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">C</h5>
              </div>
            </li>
            <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Python</h5>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">React</h5>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Object Oriented Programming</h5>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Python</h5>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Data Structures</h5>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">GitHub</h5>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">SEO</h5>
                </div>
              </li>
          </ul>
          <br>
        </section>

        <!-- <section class="service">

          <h3 class="h3 service-title">Special Links</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static' ,  filename='images/icon-design.svg') }}" alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Leetcode</h4>

                <p class="service-item-text">
                  <a href="https://leetcode.com/Shreyash_chavan77/">Checkout my solutions here</a>
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static' , filename='images/icon-dev.svg') }}" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">GeeksForGeeks</h4>

                <p class="service-item-text">
                 <a href="https://auth.geeksforgeeks.org/user/shreyashchavan/">Problems I solved</a>
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static' , filename='images/icon-app.svg') }}" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">HackerRank</h4>

                <p class="service-item-text">
                  > 4 Star in C<br>
                  > Certified Problem Solver {Basic} 😅
                  <a href="https://www.hackerrank.com/Shreyashchavan77">Checkout</a>
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static' , filename='images/icon-photo.svg') }}" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Write</h4>

                <p class="service-item-text">
                  I share my thoughts here if I am unable to post here..
                  <a href="https://dev.to/shreyashchavan/">Read More</a>
                </p>
              </div>

            </li>

          </ul>

        </section> -->

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Certifications</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Python Automation</h4>
              <h5><span>@Udemy</span></h5>
              <p class="timeline-text">
                Learned Automation skills using Selenium framework
            <span><a href="https://www.udemy.com/certificate/UC-a287228a-7d2a-4f13-ba05-7117a36cb2f9/">> Certificate </a></span>  
            </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Big Data on AWS</h4>
              <h5><span>@Udemy</span></h5>
              <p class="timeline-text">
                Certified for Big Data in 45 days.
                <span><a href="https://www.udemy.com/certificate/UC-8398b737-5df3-4f83-bf87-75d2b78e3872/">> Certificate </a></span>
              </p>

            </li>
          </ol>

        </section>
        
        <button><a href={{ file }}> Download Resume</a></button>

      </article>
      
{%endblock%}